<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>new york times api stuffsss</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Here's what we got back</h1>
  <h2>Title: <%= data.results[0].title %> </h2>
  <p>Abstract: <%= data.results[0].abstract %> </p>
  <h2>By: <%= data.results[0].byline %> </h2>
</body>
</html>
